body {
  padding-top: 10px;
}

.centered {
  text-align: center;
}

.navbar .login {
  float: right;
}
.navbar .login form {
  margin: 0; padding: 0;
}

.footer {

  margin-top: 30px;
}

.add-remove input {
    width: 30px;
    text-algin: center;
}